.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0;
  width: 1140px;
  margin: 0 auto;
}

/* search */

.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 22px;
  border: 1px solid var(--border-color);
  height: 68px;
  border-radius: 16px;
  background-color: var(--white);
  margin-bottom: 41px;
}

.searchContainer svg {
  width: 24px;
  height: 24px;
}

.searchContainer input {
  font-family: Vazirmatn;
  flex: 1;
  margin: 0 12px;
  font-size: 14px;
  font-weight: 400;
}

.searchContainer input::placeholder {
  color: var(--header-color);
  opacity: 0.5;
}

.informatin {
  display: flex;
  gap: 8px;
  padding: 0 16px 0 6px;
  border-right: 1px solid var(--border-color);
}

.informatinImg {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.informatin > div > p:first-child {
  font-size: 16px;
  font-weight: 400;
  color: var(--header-color);
}

.informatin > div > p:last-child {
  font-size: 14px;
  font-weight: 300;
  color: var(--header-color);
}

/* add Product */
.addProductContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.addProductContainer > div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.addProductContainer > div svg {
  width: 30px;
  height: 30px;
}

.addProductContainer > div p {
  font-size: 24px;
}

.addProductContainer button {
  width: 132px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}

/* table */

.table {
  width: 100%;
  background-color: var(--white);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 30px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  margin-bottom: 32px;
}

.table thead {
  background-color: var(--input-color);
  border-radius: 30px;
  text-align: right;
}

.table thead th {
  font-weight: 500;
  font-size: 14px;
  padding: 25px 52px;
}

.table tbody tr td {
  text-align: right;
  font-weight: 400;
  font-size: 13px;
  padding: 16px 52px;
  border-bottom: 1px solid var(--input-color);
}

.columnBtns {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 20px;
}

.table tbody tr button svg {
  width: 20px;
  height: 20px;
}

.productInfoModalBtn svg {
  color: var(--link-color);
}

.productEditeModalBtn svg {
  color: var(--green);
}

.productDelModalBtn svg {
  color: var(--red);
}

.checkbox {
  width: 20px;
  height: 100%;
}

.checkbox input {
  width: 15px;
  height: 100%;
  accent-color: var(--red);
}

/* modal */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 34px;
}

.modal img {
  display: inline-block;
  margin-bottom: 64px;
}

.modal p {
  font-size: 20px;
  font-weight: 400;
  color: var(--header-color);
  margin-bottom: 25px;
}

.modalBtn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.modalBtn button {
  width: 160px;
  height: 41px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: Vazirmatn;
}

.modalBtn button:first-child {
  background-color: var(--red);
  color: var(--white);
}

.modalBtn button:last-child,
.btns button:last-child {
  background-color: var(--deleteBtn-color);
  color: rgba(40, 40, 40, 0.8);
}

.modalAddEdite {
  display: flex;
  flex-direction: column;
}

.modalAddEdite p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 19px;
}

.btns button {
  width: 185px;
  height: 42px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: Vazirmatn;
}

.btns button:first-child {
  background-color: var(--button-color);
  color: var(--white);
}

/* Product information modal */

.productInfoModal {
  width: 250px;
  height: 150px;
}

.headerModalBtn svg {
  color: var(--red);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.infoDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoDiv span:first-child {
  font-size: 14px;
  font-weight: 500;
}

.infoDiv span:last-child {
  font-size: 14px;
}
